h1, h2 {
  color: #5eb954;
}

.profile {
  background: #ffffff;
  position:relative; left: 20px;
  width: 500px;
  padding: 15px;
  border: 1px solid #a0d468;
  border-radius: 10px;
}

.triangle {
  position:relative;
  margin: auto;
  max-width: 650px;
  height: 650px;

  background: linear-gradient(315deg,
                              #a0d468,
                              #a0d468 400px,
                              #ffffff 0,
                              #ffffff 300px);
}

.top {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

img.myimg {
  width: 100px;
  height: 100px;
}

img.twitter {
  width: 50px;
  height: 50px;
}

img.insta {
  width: 50px;
  height: 50px;
}

img.hatena {
  width: 50px;
  height: 50px;
}
